<extends src="./src/views/minor.html">
    <block name="html-title"><title>Maximillian Workflows - Error</title></block>
    <block name="page-title">Error</block>
    <block name="content">
        <div class="error-content section-panel">
            <p class="error-text">Something has gone wrong!</p>
            <p>Might I suggest this <a href="/">link</a>?</p>
            <p>If problems persist, then the service is down and should resume shortly.</p>
            <p>If, after a few minutes, our service is still not up, please email us on
                support@maximillian-workflows.com and we will address the issue.</p>
        </div>
    </block>
</extends>