<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
    <block name="title"></block>
    <link rel="icon" href="/images/logo.ico">
</head>
<body>
<div class="container-md">
    <block name="main-content"></block>
    <div class="footer-panel">
        <p>© 2023 Malbec Limited.</p>
        <p>All rights reserved.</p>
        <p><a href="terms.html">Terms of Service</a></p>
        <p><a href="privacy.html">Privacy Policy</a></p>
        <p>Powered by Malbec Limited</p>
    </div>
</div>
<script type="module" src="/bundle.js"></script>
</body>
</html>
