<extends src="./src/views/base.html">
    <block name="title">
        <title>Maximillian Workflows</title>
    </block>
    <block name="main-content">


        <div class="title-panel">
            <div class="title-panel-content">
                <div class="image-panel">
                    <img src="../images/rose.png" alt="title"/>

                </div>
                <div class="title-main">
                    <p class="title-text text-primary">Rosies Emporium</p>
                    <p>Some stuff and bother...</p>
                </div>
            </div>
        </div>


        <div class="content-panel">



        </div>
    </block>
</extends>