<extends src="./src/views/base.html">
    <block name="title">
        <title>Maximillian Workflows</title>
    </block>
    <block name="main-content">


        <div class="title-panel">
            <div class="title-panel-content">
                <div class="image-panel">
                    <img src="../images/logo.svg" alt="title"/>

                </div>
                <div class="title-main">
                    <p class="title-text text-primary">Rosies Emporium</p>
                    <p>Some stuff and bother...</p>
                    <a href="/#" class="btn btn-primary">Enquire</a>
                </div>
            </div>
        </div>


        <div class="content-panel">
            <div class="exposition-panel">
                <div class="section-panel">
                    <h1 class="section-title">What do we do?</h1>
                    <p>Maximillian Workflows provides a platform for small businesses to collect data from their users
                        by presenting them with Wizards to complete. These Wizards are a series of web pages, each
                        collecting data from the user, that can dynamically adjust and present content, responding to
                        the user's input. Once complete, the data collected from the user can be forwarded to queues for
                        staff to process in further Wizards that can work with and respond to the data the user has
                        already supplied. Resulting data can be forwarded via email or saved in data sets for further
                        processing.
                    </p>
                </div>

                <div class="section-panel">
                    <h1 class="section-title">So what do are really do?</h1>
                    <p>We put businesses Online. Previously a business might have had a static website that acts as a
                        marketing channel. Customers would find the business Online, find out about the business Online,
                        and how to contact the business Online. But as soon as the communication starts, the entire
                        interaction would shift Offline. Communications with customers would devolve into emails and
                        telephone conversations, and perhaps actual visits to actual offices. The costs of running a
                        Development Team and an Operations Team and a Security Team would prohibit any small business
                        from actually being Online. We offer businesses the ability to actually be Online, collecting
                        data from their customers Online and reaching customers and interacting with them on the
                        internet all over the world. We allow small businesses to compete with their larger competitors
                        by delivering on the promises of the internet... by actually being Online.</p>
                </div>

                <div class="section-panel">
                    <h1 class="section-title">But how can small businesses afford to be Online?</h1>
                    <p>We provide a platform where small businesses can design and modify their Workflows through our
                        Admin Console. When we onboard a new business, we engage in some provisioning development that
                        allows our platform to maintain a consistent appearance inline with the business's website. Once
                        this step is complete, Workflows can be created with potentially no involvement by IT
                        professionals. By removing software developers from the development loop, we give the business
                        operator a more hands-on direct relationship with their business processes that would not be
                        possible when working through a third party. Defining and working directly with the Workflow
                        design tools, allows business operators to modify and evolve their processes at potentially no
                        additional cost. </p>
                    <p>Does this mean that once you have onboarded, you are on your own? This is most certainly not the
                        case. While there are extensive support resources available, we accept that from time to time,
                        more direct support will be required. However we must charge depending on the nature of the
                        support which could be limited to advice on workflow design, and the use of the Admin Console,
                        to more expensive support when development on the underlying web assets are required as in the
                        case of enabling analytical tools or adding additional web assets and media to the website.</p>
                    <p>But what you are really interested in are actual costs. We can't provide the same pricing
                        structure for all our customers, since their needs can vary greatly. However the fixed costs for
                        the smallest businesses can be as little as a hundred pounds a month, with a variable component
                        that is proportional to the actual level of usage, meaning that your costs grow as your profit
                        does. Initial setup and provisioning can be done for less than a thousand, but is very dependent
                        on the specifics. Support costs are in the same range.</p>
                    <p>More and more businesses are operating online and using technology to communicate with their
                        customers. These advantages afford them huge competitive advantages that have previously
                        marginalized and supplanted small businesses, allowing companies to grow tremendously in size
                        and market share as they reach out to global markets. Can small businesses really afford not be
                        Online?</p>
                </div>
                <div class="section-panel">
                    <h1 class="section-title">Next steps?</h1>
                    <p>For us, we have many new features planned for the platform. Today we not only allow our customers
                        to design Worfklows, Wizards and Web Pages using our admin console. We also allow our customers
                        to design Emails and to send emails as a part of workflow. And we allow our customers to
                        aggregate data into data sets that can be used in further processing and later download. </p>
                    <p>Tomorrow, we have PDF generation, online payments, 2-factor authentication, advanced calendar
                        handling, digital signing, SMS communications and multi-language support. For our accountancy
                        customers, we have Government Gateway integration planned and we are continually making
                        improvements to the platform to make it more powerful and easier to use.</p>
                    <p>For you perhaps? Your next steps are to full out an Enquiry questionnaire using the button
                        above?</p>
                </div>
            </div>
            <div class="side-panel">
                <h1 class="side-panel-title">Use cases</h1>
                <div class="card-panel">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../images/slav-romanov.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Dasha wanted her customers to complete an online registration process
                                after clicking on a link from her existing static website. The customer's registration
                                details would arrive in her email mailbox. </p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../images/zahir-namane.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Zahir wanted his customers to complete an online email survey. He will
                                later download the results of the survey using his in-house developer tools.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../images/christian-ferrer.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Rebecca wanted a complete online solution where her customers could
                                register accounts, login online, and request many different workflows from her and her
                                colleagues.</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../images/jeremy-mcknight.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Josh wanted to offload some workflow processes from his existing
                                company. The wizards would be short-lived, and the results would be immediately
                                retrieved and cleared on completion.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </block>
</extends>