<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
    <block name="html-title"></block>
</head>
<body>


<div class="container-md">
    <div class="minor-title-panel">
        <div class="brand-outer">
            <div class="brand-inner">
                <div class="image-panel">
                    <img src="../images/logo.svg" alt="title"/>
                </div>
                <h1 class="text-primary title-text">Maximillian Workflows</h1>
            </div>
        </div>
        <div class="page-title">
            <block name="page-title"></block>
        </div>
    </div>

    <block name="content"></block>
    <div class="footer-panel">
        <p>© 2023 Malbec Limited.</p>
        <p>All rights reserved.</p>
        <p><a href="terms.html">Terms of Service</a></p>
        <p><a href="privacy.html">Privacy Policy</a></p>
        <p>Powered by Malbec Limited</p>
    </div>
</div>
<script type="module" src="/bundle.js"></script>
</body>
</html>